@media(max-width:1199px) {}

@media(max-width:991px) {

    /* ********************
       DESIGNO PAGE
    *********************** */
    .appDesign img {
        width: 100%;
        height: 200px;
        border-radius: 15px;
    }

    .design img {
        width: 100%;
        height: 200px;
        border-radius: 15px;
        margin-bottom: 25px;
    }

    .intro-section {
        background-size: cover;
    }

    .intro-section .page-text {
        margin-bottom: 26px;
    }

    .intro-section .second {
        padding-left: 235px;
        padding-top: 46px;
    }

    .intro-section::after {
        content: none;
    }

    .intro-section .first {
        padding-left: 0;
        width: 573px;
        text-align: center;
        margin: 0 auto;
        padding-top: 66px;
    }

    .graphicDesign img {
        width: 100%;
        height: 200px;
        border-radius: 15px;
    }

    .graphicDesign:hover::before {
        right: 0;
    }

    .appDesign:hover::before {
        right: 0;
    }

    .design:hover::before {
        right: 0;
    }

    .third-section .col-lg-4{
        display: flex;
        align-items: center;
        text-align: left;
    }

    .third-section::after {
        content: none;
    }

    .third-section .director {
        margin-left: 53px;
    }

    .last-section {
        padding-left: 0;
        text-align: center;
    }

    .main-footer .mainFooter-bottom .col-lg-4{
        width: 33%;
    }

    .mainFooter-top .col-lg-4{
        width: 50%;
    }


    /* ******************************** */

    /* *************************
         LOCATIONS PAGE
    **************************** */

    .main-header .col-lg-4 {
        width: 50%;
    }

    .location .all-in-one {
        padding-bottom: 95px;
    }

    .location .maps {
        order: -1;
    }

    .location img {
        height: 326px;
        margin-bottom: 31px;
    }

    /* ************************** */

    /* ***************************
         CONTACT US PAGE
    ****************************** */

    .contact-us {
        background-size: cover;
    }

    .contact-us .col-lg-5 {
        padding-left: 95px;
    }

    .contact-us input {
        margin-bottom: 15px;
        width: 475px;
    }

    textarea {
        width: 475px;
    }

    .buttonSubmit {
        margin-left: 325px;
    }

    .contact-us .col-lg-7 {
        padding-top: 90px;
    }

    .locations .col-lg-4 {
        margin-bottom: 80px;
    }

    .locations::after {
        content: none;
    }

    /* ************************ */

    /* ************************
        TALENT PAGE
    *************************** */
    .about-us {
        background-size: cover;
    }

    .about-us::after {
        content: none;
    }

    .about-us .row {
        flex-direction: column-reverse;
    }

    .about-us img {
        width: 100%;
        border-top-left-radius: 15px;
        height: 320px;
    }

    .about-us .whenWasFounded {
        padding: 60px 60px;
        text-align: center;
    }
    
    .talent img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .talent .col-lg-6 p {
        width: auto;
    }

    .talent .col-lg-6:nth-child(2) {
        text-align: center;
        padding: 60px 60px;
    }

    .aboutDeal {
        order: -1;
    }

    .aboutDeal img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 320px;
    }

    .deal .col-lg-6:nth-child(1) {
        text-align: center;
        padding: 60px 60px;
    }

    .deal .businessPartners {
        width: auto;
    }
}

@media(max-width:767px) {
    .main-nav {
        display: none;
    }
    .intro-section .main-title {
        font-size: 2.28rem;
        line-height: 36px;
    }

    .intro-section .page-text {
        font-size: 1.07rem;
        line-height: 25px;
    }

    .main-nav-link {
            display: block;
    font-size: 16px;
    line-height: 23px;
    text-align: start;
    margin: 32px 0!important;
    color: #fff;
    }

    .main-nav-link:hover {
        color: #fff;
        opacity: 50%;
    }

    .main-header.on:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 107px;
        height: 1000px;
        background: black;
        opacity: 0.5;
        z-index: 99;
    }

    .main-header .menu-toggle.open {
        display: block;
        background: transparent;
        border: none;
        color: #fff;
        width: 24px;
        padding: 0 35px;
    }

    .main-header .menu-toggle.close {
        display: none;
        background: transparent;
        border: none;
        color: #fff;
        width: 24px;
        padding: 0 35px;
    }

    .main-nav-link::after {
        content: none;
    }

    .main-header.on .menu-toggle.open {
        display: none;
    }

    .main-header.on .menu-toggle.close {
        display: block;
    }

    .main-nav {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -270px;
        padding: 15px;
        text-align: center;
        background-color: #000;
        z-index: 1;
    }

    .main-header .row {
        justify-content: space-between;
    }

    .main-header .col-lg-4 {
        padding: 0 10px;
    }

    .intro-section {
        background-position: center;
        border-radius: 0;
    }

    .intro-section .second {
        padding-left: 130px;
    }

    .third-section .col-lg-4 {
        flex-wrap: wrap;
    }

    .third-section .designers {
        width: 100%;
        text-align: center;
    }

    .third-section .director {
        margin-left: 0;
        text-align: center;
    }

    .last-section .col-lg-5 {
        padding-left: 135px;
    }

    .last-section .col-lg-5 h4 {
        width: 279px;
    }

    .last-section .col-lg-5 p {
        width: 279px;
    }

    .last-section {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .mainFooter-top .col-lg-4 {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

     .logoLine {
        display: block;
    }

    .linkLine {
        display: none;
    }

    .main-footer .mainFooter-bottom .col-lg-4 {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .main-footer .social-sets {
        text-align: center;
    }

    .main-footer .main-footer-nav a {
        display: block;
        margin: 32px auto;
    }

    .main-footer .main-footer-nav a::after {
        content: none;
    }
     /* ************************** */

     /* **********************
        LOCATIONS PAGE
     ************************* */
     .location .cityNames {
         background-size: cover;
         text-align: center;
     }

     .location .all-in-one {
         flex-wrap: wrap;
     }

     .all-in-one .address {
         width: 100%;
         padding-left: 0;
     }

     .all-in-one .contact {
         width: 100%;
         padding-left: 0;
     }

     .cityNames h1 {
         padding-left: 0;
     }

     /* **********************
        OUR COMPANY PAGE
     ************************* */
     .about-us img {
         background-color: #b3b6b5;
         border-top-left-radius: 0;
     }

     .about-us {
         background-position: center;
         border-radius: 0;
         margin-bottom: 0;
     }

     .talent {
         border-radius: 0;
         background-position: bottom;
         margin-bottom: 120px;
     }

     .locations .col-lg-4 {
         margin-bottom: 48px;
     }

     .talent img {
         background-color: #b3b6b5;
         border-radius: 0;
     }

     .locations {
         margin-bottom: 120px;
     }

     .aboutDeal img{
         background-color: #b8bdbd;
         padding: 0;
         object-fit: none;
         border-radius: 0;
     }

     .deal {
         border-radius: 0;
     }

     .deal .col-lg-6:nth-child(1) {
         padding: 60px 115px;
     }

     .deal .businessPartners{
         width: 327px;
     }

     /* ********************** */

     /* ************************
        CONTACT PAGE
     *************************** */

     .contact-us {
         text-align: center;
         border-radius: 0;
         background-position: center;
         margin-bottom: 120px;
     }

     .contact-us .col-lg-7 {
         padding: 0;
         padding-top: 79px;
     }

     .contact-us .col-lg-7 p {
         padding: 0 90px;
         width: 535px;
     }

     .contact-us .col-lg-5 {
         padding-left: 20px;
     }
}

@media(max-width:565px) {
    .last-section .col-lg-5 {
        padding-left: 89px;
    }

    /* ***************** */

      /* ******************
         CONTACT
      ********************* */

      .contact-us .col-lg-7 p {
          width: 465px;
          padding: 0 63px;
      }

      .contact-us input {
          width: 405px;
      }

      .contact-us textarea {
          width: 405px;
      }

      .buttonSubmit {
          margin-left: 250px;
      }
}

@media(max-width:480px) {
    .about-us .whenWasFounded {
        padding: 35px 15px;
    }

    .talent .col-lg-6:nth-child(2) {
        padding: 20px 10px;
    }

    .deal .businessPartners {
        width: 285px;
    }

    .last-section .col-lg-5 {
        padding-left: 35px;
    }

    .last-section .col-lg-5 h4 {
        width: 238px;
    }

    .last-section .col-lg-5 p {
        width: 240px;
    }

    .deal .col-lg-6:nth-child(1) {
        padding: 60px 10px;
    }

    .btn {
        padding: 15px 25px;
    }

    .last-section .col-lg-5 h4 {
        font-size: 2rem;
    }

    /* DESIGNO PAGE */

    .intro-section .second {
        padding-left: 95px;
    }

    .intro-section .second img {
        width: 100px;
    }

    .second-section .col-lg-6 .texts {
        top: 20%;
    }

    .second-section {
        margin-bottom: 35px;
    }

    .third-section {
        margin-bottom: 105px;
    }

    .contact-us input {
        width: 215px;
    }

    .buttonSubmit {
        margin-left: 0;
        margin-top: 40px;
    }

    .contact-us textarea {
        width: 215px;
    }

    .contact-us .col-lg-7 p {
        width: 332px;
        padding: 0 10px;
    }

    .multi-logo {
        width: 150px;
    }
}